$breakpoints: (
  "sm": 480px,
  "min-sm": 480px,
  "smd": 567px,
  "min-smd": 567px,
  "md": 767px,
  "min-md": 767px,
  "lg": 991px,
  "min-lg": 991px,
  "x-lg": 1024px,
  "min-x-lg": 1024px,
  "xl": 1200px,
  "min-xl": 1200px,
  "xmd": 1240px,
  "min-xmd": 1240px,
  "x-xl": 1366px,
  "min-x-xl": 1366px,
  "x-xxl": 1400px,
  "min-x-xxl": 1400px,
  "max-desk": 1600px,
  "min-desk": 1600px,
  "min-big-desktop":1940px,
);

@mixin media-breakpoint-sm {
  @media (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin media-breakpoint-min-sm {
  @media (min-width: map-get($breakpoints, "min-sm")) {
    @content;
  }
}
@mixin media-breakpoint-smd {
  @media (max-width: map-get($breakpoints, "smd")) {
    @content;
  }
}

@mixin media-breakpoint-min-smd {
  @media (min-width: map-get($breakpoints, "min-smd")) {
    @content;
  }
}

@mixin media-breakpoint-md {
  @media (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin media-breakpoint-min-md {
  @media (min-width: map-get($breakpoints, "min-md")) {
    @content;
  }
}

@mixin media-breakpoint-lg {
  @media (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin media-breakpoint-min-lg {
  @media (min-width: map-get($breakpoints, "min-lg")) {
    @content;
  }
}

@mixin media-breakpoint-x-lg {
  @media (max-width: map-get($breakpoints, "x-lg")) {
    @content;
  }
}

@mixin media-breakpoint-min-x-lg {
  @media (min-width: map-get($breakpoints, "min-x-lg")) {
    @content;
  }
}

@mixin media-breakpoint-xl {
  @media (max-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin media-breakpoint-min-xl {
  @media (min-width: map-get($breakpoints, "min-xl")) {
    @content;
  }
}

@mixin media-breakpoint-xmd {
  @media (max-width: map-get($breakpoints, "xmd")) {
    @content;
  }
}

@mixin media-breakpoint-min-xmd {
  @media (min-width: map-get($breakpoints, "min-xmd")) {
    @content;
  }
}

@mixin media-breakpoint-x-xl {
  @media (max-width: map-get($breakpoints, "x-xl")) {
    @content;
  }
}

@mixin media-breakpoint-min-x-xl {
  @media (min-width: map-get($breakpoints, "min-x-xl")) {
    @content;
  }
}

@mixin media-breakpoint-x-xxl {
  @media (max-width: map-get($breakpoints, "x-xxl")) {
    @content;
  }
}

@mixin media-breakpoint-min-x-xxl {
  @media (min-width: map-get($breakpoints, "min-x-xxl")) {
    @content;
  }
}

@mixin media-breakpoint-max-desk {
  @media (max-width: map-get($breakpoints, "max-desk")) {
    @content;
  }
}
@mixin media-breakpoint-min-desk {
  @media (min-width: map-get($breakpoints, "min-desk")) {
    @content;
  }
}

@mixin media-breakpoint-min-big-desktop {
  @media (min-width: map-get($breakpoints, "min-big-desktop")) {
    @content;
  }
}

@mixin media-breakpoint-breakpoint($custom-break: 0) {
  @media (max-width: $custom-break) {
    @content;
  }
}

@mixin media-breakpoint-min-breakpoint($min-custom-break: 0) {
  @media (min-width: $min-custom-break) {
    @content;
  }
}
