.lotry-step-3-form-box{
    .multipal-input-title{
        justify-content: space-around !important;
        @include media-breakpoint-md{
           display: none !important;
        }
    }
    
    .customFormWrap{
        width: 100%;
        column-gap: 15px;
        label{
            &.customFormLabel{
                width: 35% !important;
                @include media-breakpoint-md{
                    width: 100% !important;
                    &.prize-main-bold-title{
                        @include media-breakpoint-md{
                            font-weight: $semibold-weight;
                            border-bottom: 1px solid $gray-border-color;
                        }
                    }
                }
            }
        }
        .multipal-title-row{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    .radio-button-row{
        width: 100%;
    }
    
        h2{
            font-size: 16px;
            line-height: 40px;
            margin-block: 0 25px;
            font-weight: $medium-weight;
        }
        .fix-prizes-box{
            .customFormWrap{
                gap: 15px;
            }
            .row{
                width: 100%;
                span{
                    display: none;
                    @include media-breakpoint-md{
                        display: block;
                        padding-bottom: 6px;
                    }
                }
            }
        }
        .prizes-box{
            .customFormWrap{
            &.example-row{
                justify-content: flex-start;
                height: 55px;
                // padding-block: 0px 15px !important;
                div{
                    width: 100%;
                    @include media-breakpoint-md{
                        width: auto;
                    }
                }
                @include media-breakpoint-md{
                    flex-direction: row;
                    label{
                        padding-bottom: 0 !important;
                    }
                    .mobile-hide{
                        display: none;
                    }
                }
                &.top-space{
                    margin-top: -15px;
                }
            }
        }
        }
    
   .radio-row{
    @include media-breakpoint-md{
        margin-bottom: 20px;
    }
    input[type="radio"]{
        @include media-breakpoint-md{
            margin-left: 0px;
        }
    }
   }
   .mb-25{
      margin-bottom: 25px;
      @include media-breakpoint-md{
        margin-bottom: 5px;
      }
   }
}
