.lotry-form-main-wrap{
    margin-block: 50px 100px;
    form{
        border: 1px solid  $naveblue-color;
        padding: 30px 25px;
        border-radius: 5px;
        select, input, textarea {
            width: 100%;
            display: block;
            padding: 15px;
            border: 1px solid $naveblue-color;
            border-radius: 5px;
            font-family:  $font-secondary;
        }
        select{
            cursor: pointer;
        }
        textarea{
            resize: none;
            min-height: 100px;
            overflow-y: auto;
        }
        .customFormWrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 15px;

            @include media-breakpoint-md{
                flex-direction: column;
            }
            label{
                &.customFormLabel{
                    max-width: 300px;
                    width: 100%;
                    display: inline-block;
                    font-weight: $medium-weight;
                    @include media-breakpoint-md{
                        padding-bottom: 6px;
                        max-width: 100%;
                    }
                }
            }
            .radio-button-row{
                .radio-row{
                    display: flex;
                    align-items: baseline;
                    gap: 10px;
                    cursor: pointer;
                    input{
                        width: auto;
                    }
                    label{
                        cursor: pointer;
                    }
                }
                .radio-sub-row{
                    margin-left: 60px;
                    margin-top: 5px;
                    @include media-breakpoint-sm{
                        margin-left: 35px;
                      }
                }
            }
        }
        .button-group-row{
            text-align: right;
        }
        h2{
            margin-block: 10px 10px;
            font-size: 16px;
            text-transform: capitalize;
        }
    }
}