.lotry-step-4-form-box{
.win-setting-box{
    .win-setting-radio-btn{
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    h2{
        margin-top: 15px;
    }
}
.fix-prizes-box{
    .customFormWrap {
        .row{
            &:last-child {
              @include media-breakpoint-md {
                display: flex;
                justify-content: space-between;
            }
                .radio-row{
                    justify-content: center;
                }
            }
            input[type="checkbox"]{
                cursor: pointer;
                margin: 0;
            }
        }
    }
}
.flex-column{
    flex-direction: column;
}
.rollover-bt-space{
    margin-bottom: 15px;
}
.example-row{
    .prize-title{
        @include media-breakpoint-md {
            width: 100%;
        }
    }
}
.checkbox-button-row{
    label{
        margin-left: -15px;
    }
}
}