.lotry-form-main-wrap{
    margin-block: 50px 100px;
    @include media-breakpoint-md{
        margin-block: 30px 80px;
    }
        // border: 1px solid  $naveblue-color;
        padding: 0;
        border-radius: 5px;
        background-color: $white-color;
        select, input, textarea {
            width: 100%;
            display: block;
            padding: 9px 15px;
            border: 1px solid $gray-border-color;
            border-radius: 4px;
            font-family:  $font-secondary;
            font-size: 14px;
            height: 40px;
        }
        select{
            cursor: pointer;
        }
        textarea{
            resize: none;
            min-height: 100px;
            overflow-y: auto;
        }
        .customFormWrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 15px;

            @include media-breakpoint-md{
                flex-direction: column;
            }
            label{
                &.customFormLabel{
                    max-width: 300px;
                    width: 100%;
                    display: inline-block;
                    font-weight: $regular-weight;
                    font-size: 14px;
                    @include media-breakpoint-md{
                        padding-bottom: 6px;
                        max-width: 100%;
                    }
                }
            }
            .radio-button-row{
                .radio-row{
                    display: flex;
                    align-items: baseline;
                    gap: 10px;
                    cursor: pointer;
                    input{
                        width: auto;
                    }
                    label{
                        cursor: pointer;
                        font-size: 14px;
                    }
                }
                .radio-sub-row{
                    margin-left: 60px;
                    margin-top: 5px;
                    gap: 10px;
                    display: flex;
                    flex-direction: column;
                    @include media-breakpoint-sm{
                        margin-left: 35px;
                      }
                }
                &.col-gap{
                    gap: 10px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .button-group-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 15px;
        }
        h2{
            margin-block: 10px 10px;
            font-size: 16px;
            text-transform: capitalize;
        }
        .form-title{
            font-size: 22px;
            line-height: 40px;
            margin-top: 0;
            background: $gray-color;
            border-radius: 5px 5px 0 0 !important;
            border-bottom: 1px solid  $light-gray-color;
            padding: 12px 18px;
            position: relative;
            margin-bottom: 0;
        }
        .form-inner-body{
            padding: 30px 25px;
            background: $dim-gray;
            border-radius: 0 0 5px 5px;
        }
}