//****************************************************************************
//  Font sizes extensions
//***************************************************************************/

%fontsize35{
    font-size:30px;
    line-height: 40px;
}
%fontsize30{
    font-size:28px;
    line-height: 38px;
}
%fontsize25 {
    font-size:20px;
    line-height: 30px;
}
%fontsize22 {
    font-size:22px;
    line-height: 30px;
}
%fontsize20 {
    font-size:20px;
    line-height: 30px;
}
%fontsize18 {
    font-size: 16px;
    line-height: 26px;
}

%fontsize16 {
    font-size: 14px;
    line-height: 22px;
}
%fontsize14 {
    font-size: 14px;
    line-height: 22px;
}
%fontsize12 {
    font-size: 12px;
    line-height: 16px;
}
@include media-breakpoint-min-lg{
    %fontsize35{
        font-size:35px;
        line-height: 45px;
    }
    %fontsize30{
        font-size:30px;
        line-height: 40px;
    }
    %fontsize25 {
        font-size:25px;
        line-height: 35px;
    }
}
@include media-breakpoint-min-x-xxl {

    %fontsize16 {
        font-size: 16px;
        line-height: 26px;
    }
}
@include media-breakpoint-min-x-xxl{
    %fontsize18 {
        font-size: 18px;
        line-height: 26px;
    }
}



