.footer {
    position: relative;
}

.footer-top {
    position: relative;
    background-color: $cream-color;
    padding: 30px 0;
    padding: 50px 0 45px;
    margin: 0;
    &::after {
        content: "";
        width: 100%;
        height: 20%;
        position: absolute;
        top: -10%;
        right: 0;
        background: $cream-color;
        -webkit-clip-path: polygon(100% 53%, 0 100%, 0 0, 0 0, 50% 0);
        clip-path: polygon(100% 53%, 0 100%, 0 0, 0 0, 50% 0);
    }

    @include media-breakpoint-min-lg {
        padding: 50px 0 45px;

        &:after {
            height: 31%;
            top: -16%;
        }
    }
}

.footerBlockGrid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;

    .footerBlock {
        width: 100%;
        text-align: center;

        h3 {
            font-family: $font-secondary;
            position: relative;
            cursor: pointer;
            color: $naveblue-color;
         
            &:after {
                content: "+";
                display: inline-block;
                padding-left: 15px;
                font-size: 25px;
                line-height: 25px;
                top: 2px;
                position: relative;
            }
            &.active{
                &:after{
                    content: "-";
                }
            }


            @include media-breakpoint-min-lg {
                cursor: auto;
                pointer-events: none;

                &::after {
                    display: none;
                }
            }
        }

        ul {
            margin-bottom: 20px;

            &.footerLinkBlock {
                display: none;
                @include media-breakpoint-min-lg {
                    li{
                        display: inline-block;
                        width: 48%;
                    }
                }
            }

            li {
                margin-bottom: 8px;

                a {
                    text-decoration: none;
                    color: $naveblue-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            
        }
        .footerSocial  {
              
            &.desktop{
                display: none;
                @include media-breakpoint-min-lg {
                    display: block;
                }
            }
            &.mobile{
                display: block;
                @include media-breakpoint-min-lg {
                    display: none;
                }

            }

        }
        @include media-breakpoint-min-lg {
            width: 33.33%;
            text-align: left;
            ul{
                &.footerLinkBlock{
                    display: block;
                }
            }
        }
        .footerSocial {
            ul {
                display: flex;
                gap: 18px;
                justify-content: center;
                li{
                    width: auto;
                }

                @include media-breakpoint-min-lg {
                    justify-content: flex-start;
                }
            }
        }
    }
}

.footerLogo {
    margin-bottom: 35px;

    @include media-breakpoint-min-lg {
        margin-bottom: 0;
    }
    .logo{
        img{
            max-width: 300px;
            width: 100%;
            @include media-breakpoint-md{
                max-width: 250px;
            }
        }
    }
}

.footerBottom {
    position: relative;
    padding: 30px 0 10px;
    background-color: $white-color;

}

.copyInfoGrid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    @include media-breakpoint-min-lg {
        text-align: left;
    }

    .copyInfo {
        width: 100%;

        p {
            letter-spacing: 1;
            font-size: 14px;
        }

        .cardBlocks {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            margin-bottom: 20px;
        }

        @include media-breakpoint-min-lg {
            width: 33.33%;

            .cardBlocks {
                justify-content: flex-start;
                margin-bottom: 0;
            }

            p {
                text-align: right;
            }
        }

    }
}