.main-header {
    background-color: $white-color;
    padding-bottom: 4px;
    padding: 0px;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 22;

    .logo {
        width: 150px;

        img {
            width: 100%;
        }

    }

    @include media-breakpoint-min-xl {

        .logo {
            width: 170px;
        }
    }

    @include media-breakpoint-min-x-xxl {
        .logo {
            width: 200px;
        }
    }
}

.closeBtn {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
.menuBtn {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.homeIcon {
    img {
        width: 40px;
    }
}

// Header Menu
.headerMenuOuter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    padding-right: 40px;
    position: relative;
    flex-direction: column;
    background-color: $naveblue-color;
    
    @include media-breakpoint-min-xl {
        padding-right: 0;
    }

    @include media-breakpoint-xl{
        padding-right: 0;
    }
    .header-top-section{
        width: 100%;
        text-align: center;
        padding-block: 20px;
        background-color: $white-color;
        img{
            width: 151px;
        }
        .logo{
            display: inline-block;
        }
    }
}

.menuTigger {
    width: 22px;
    display: block;
    right: 15px;
    top: 20px;
    position: absolute;
    cursor: pointer;
    z-index: 633;

    .bar {
        display: block;
        height: 2px;
        margin: 0 auto 5px;
        width: 100%;
        background-color: $naveblue-color;
        transition: all 0.3s ease 0s;

        &:last-child {
            margin-bottom: 0;
        }

    }

    @include media-breakpoint-min-xl {
        display: none;
    }
}

.menu--open {
    .menuTigger {
        @include media-breakpoint-x-lg {
            position: fixed;
        }
        .bar {
            &:first-child {
                -webkit-transform: translateY(7px) rotate(139deg);
                transform: translateY(7px) rotate(139deg);
                background-color: $white-color;
            }

            &:last-child {
                -webkit-transform: translateY(-7px) rotate(-140deg);
                transform: translateY(-7px) rotate(-140deg);
                background-color: $white-color;
            }

            &:nth-child(2) {
                -webkit-transform: scale(0);
                transform: scale(0);
                background-color: $white-color
            }
        }
    }

    .header-menu {
        right: 0;
        padding: 0;
        padding-top: 61px !important;
    }
}

.header-menu {
    position: fixed;
    top: 0;
    background-color: $naveblue-color;
    width: 100%;
    max-width: 320px;
    right: -350px;
    transition: right 1s ease 0s;
    z-index: 11;
    height: auto;
    height: 100%;
    overflow-y: auto;
    @include media-breakpoint-max-desk {
        padding-inline: 30px;
    }

    >ul {
        >li {
            position: relative;

        @include media-breakpoint-x-lg {
            &:first-child {
               a{
                border-top: solid 1px $white-color;
               }
            }
        }
            >a {
                border-bottom: solid 1px $white-color;
                color: $black-color;
                padding: 17px 10px 17px 25px;
                @extend %fontsize18;
                display: block;
                text-decoration: none;
                color: $white-color;
            }

            &.has-sub {
                >.submenu {
                    position: absolute;
                    top: 68px;
                    padding: 6px 0 15px;
                    text-align: center;
                    width: 100%;
                    background-color: $naveblue-color;
                    transition: all 0.5s ease 0s;
                    display: none;
                    z-index: 444;

                    >li {
                        position: relative;

                        >a {
                            padding: 10px;
                            text-decoration: none;
                            color: $white-color;
                            display: block;
                            @extend %fontsize16;

                        }

                        .arrow {
                            top: 3px;
                            right: 0;
                        }

                        &.has-sub {
                            .submenu {
                                display: none;
                            }

                            .submenu {
                                li {
                                    a {
                                        text-decoration: none;
                                        color: $white-color;
                                        display: block;
                                        @extend %fontsize16;
                                    }
                                }
                            }

                            &.active {
                                >a {
                                    text-decoration: underline;
                                    text-underline-offset: 5px;
                                    text-decoration-thickness: 2px;
                                }

                                .submenu {
                                    display: block;
                                }

                                .arrow {
                                    &:after {
                                        transform: rotate(-140deg) translateY(-50%);
                                        right: 7px;
                                    }
                                }
                            }
                        }


                    }
                }


                .arrow {
                    top: 11px;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                    z-index: 333;
                    transition: all 0.2s ease 0s;

                    &:after {
                        content: "";
                        border: solid $white-color;
                        width: 0;
                        height: 0;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 3px;
                        position: absolute;
                        right: 12px;
                        top: 50%;
                        transform: rotate(45deg) translateY(-50%);
                        transition: all 0.3s ease 0s;

                    }
                }

                &.active {
                    background-color: $naveblue-color;

                    >a {
                        color: $white-color;
                    }

                    >.submenu {
                        display: block;
                    }

                    >.arrow {
                        &:after {
                            transform: rotate(-140deg) translateY(-50%);
                            border-color: $white-color;
                        }
                    }
                }

            }
        }
    }

    @include media-breakpoint-min-xl {
        display: block;
        justify-content: space-between;
        position: relative;
        right: auto !important;
        max-width: none;
        background-color: transparent;
        max-width: 1640px;
        overflow-y: unset;


        >ul {
            display: flex;
            justify-content: space-between;

            width: 100%;

            >li {
                padding: 21px 30px 21px 0;

                >a {
                    color: $white-color;
                    border: none;
                    padding: 0;

                }

                &:hover {
                    >a {
                        text-decoration: underline;
                        text-underline-offset: 5px;
                        text-decoration-thickness: 2px;
                    }
                }

                &.has-sub {
                    .arrow {
                        top: 16px;
                        right: 0;
                    }

                    >.submenu {
                        width: 320px;
                        padding: 20px 0;
                        max-height: 600px;
                        // overflow-y: auto;
                       

                        /* width */
                        &::-webkit-scrollbar {
                            width: 7px;
                            height: 0;
                        }

                        /* Track */
                        &::-webkit-scrollbar-track {
                            background: $cream-color;
                        }

                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            background: $naveblue-color;
                        }

                        >li {
                            padding: 9px 20px;
                            padding-right: 30px;
                            text-align: left;

                            >a {
                                padding: 0;
                            }

                            &.has-sub {
                                .arrow {
                                    top: 6px;
                                    right: 0;

                                    &:after {
                                        transform: rotate(-48deg) translateY(-50%);
                                        

                                    }
                                }

                                &:hover {
                                    .arrow {
                                        &::after {
                                            border-color: $white-color;
                                            border-color: $naveblue-color !important;
                                        }
                                    }

                                    .submenu {
                                        display: block;
                                    }
                                }

                                .submenu {
                                    position: absolute;
                                    width: 250px;
                                    right: -250px;
                                    top: 0;
                                    background: $naveblue-color;
                                    padding: 10px 0;

                                    >li {
                                        padding: 6px 20px;

                                        &:hover {
                                            background-color: $white-color;

                                            >a {
                                                color: $naveblue-color;
                                            }
                                        }
                                    }
                                }
                            }

                            &:hover {
                                background-color: $white-color;

                                >a {
                                    color: $naveblue-color;
                                }
                            }

                        }

                    }

                    &:hover {
                        >.submenu {
                            display: block;
                        }

                        >.arrow {
                            &::after {
                                transform: rotate(-140deg) translateY(-50%);
                            }
                        }
                    }

                }

                &:nth-last-of-type(2) {
                    &.has-sub {
                        >.submenu {
                            left: -80px;
                        }
                    }
                }
            }
        }
    }
}