.body-sign {
	.recover-password{
        form{
            .form-group{
                input{
                    padding: 5px 15px;
                    border-radius: 6px;
                    border: 1px solid #2D3E50;
                    font-size: 16px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: 0;
					width: auto !important;
                }
            }
        }
		.allBtn {
			&.dark{
				color: $white-color;
				position: relative;
				z-index: 2;
				font-size: 16px;
				padding: 0;
				box-shadow: none;
				border: 0;
				border-radius: 0;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
				min-height: 40px;
				min-width: 82px;
				text-transform: none;
				&:hover {
					background-color: $white-color;
					color: $naveblue-color;
					border: 1px solid $naveblue-color;
				}
			}
		}
		.mt-3{
			margin-top: 30px;
		}
    }

}
