/****************************************************************************
  Body
 ***************************************************************************/


body {
  @extend %fontsize16;
  font-family: $font-primary;
  color: $body-color;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;

  /* width */
  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $cream-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $green-color
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

html {
  overflow-x: hidden;
}


h1 {
  @extend %fontsize35;
  margin: 0 0 20px 0;
  font-weight: normal;

}

h2 {
  @extend %fontsize30;
  margin: 0 0 20px 0;
  font-weight: 500;
  letter-spacing: 1px;

}

h3 {
  @extend %fontsize25;
  margin: 0 0 15px 0;
  font-weight: 500;
  color: $green-color;
  font-family: $font-secondary;

  @include media-breakpoint-min-x-lg {
    margin-bottom: 25px;
  }
}

h4 {
  @extend %fontsize20;
  margin-bottom: 15px;

}

img {
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: $green-color;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  text-underline-offset: 3px;

  &:hover {
    color: $green-color;
    text-decoration: none;

  }
}





p {
  margin: 0 0 15px 0;
}

.container {
  max-width: 1610px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

  @include media-breakpoint-min-x-lg {
    padding: 0 15px;
  }
}



/***Buttons Style****/
.allBtn {
  text-align: center;
  padding: 11px 20px 11px;
  display: inline-block;
  background-color: $white-color;
  text-decoration: none;
  font-weight: $bold-weight;
  text-transform: uppercase;
  font-size: 12px;
  min-height: 50px;
  border-radius: 0;
  cursor: pointer;
  border: solid 1px $green-color;
  font-family: $font-primary;
  transition: all 0.2s ease 0s;
  color: $green-color;
  min-width: 120px;

  &.dark {
    background-color: $naveblue-color;
    color: $white-color;
    border: solid 1px $naveblue-color;

    &:hover {
      background-color: $white-color;
      color: $naveblue-color;
    }
  }

  @include media-breakpoint-min-lg {
    min-height: 55px;
    min-width: 120px;
    font-size: 13px;
  }


  &+.allBtn {
    margin-top: 15px;
  }

  &.initApproveBtn {
    background-color: $light-Blue;
    border-color: $light-Blue;

    &:hover {
      background-color: $white-color;
      color: $green-color;
    }
  }

  &.fullApproveBtn {
    background-color: $light-blue2;
    border-color: $light-blue2;

    &:hover {
      background-color: $white-color;
      color: $light-blue2;
    }
  }

  &.incompleteBtn {
    background-color: $red-bg;
    border-color: $red-bg;

    &:hover {
      background-color: $white-color;
      color: $red-bg;
    }
  }

  &.declineBtn {
    background-color: $light-pink;
    border-color: $light-pink;

    &:hover {
      background-color: $white-color;
      color: $light-pink;
    }
  }

  &.inactiveBtn {
    background-color: $grey-color;
    border-color: $grey-color;
    color: $white-color;

    &:hover {
      background-color: $white-color;
      color: $grey-color;
    }
  }

  &.activeBtn {
    background-color: $green-bg;
    border-color: $green-bg;

    &:hover {
      background-color: $white-color;
      color: $green-color;
    }
  }

 

  &:hover {
    background-color: $green-color;
    color: $white-color;
  }


  &.redBtn {
    background-color: $red-color;
    border-color: $red-color;
    color: $white-color;

    &:hover {
      background-color: $white-color;
      color: $red-color;
    }
  }

  &.border {
    border: 1px solid;
  }

  &.btnIcon {
    &.userBtn {
      svg {
        width: 14px;
      }
    }

    svg,img {
      margin-right: 8px;
    }

    &:hover {
      svg {
        fill: $green-color;

        g,
        path {
          stroke: $green-color;
        }
      }
    }

    &.backBtn {
      svg {
        width: 10px;
        height: 12px;
        margin-top: -2px;
        margin-right: 5px;
      }
    }
  }
}

