/****************************************************************************
  Body
 ***************************************************************************/

 * {
  box-sizing: border-box;
}

body {
  @extend %fontsize16;
  font-family: $font-secondary;
  color: $body-color;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;

  /* width */
  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $cream-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $naveblue-color;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

html {
  overflow-x: hidden;
}


h1 {
  @extend %fontsize35;
  margin: 0 0 20px 0;
  font-weight: normal;

}

h2 {
  @extend %fontsize30;
  margin: 0 0 20px 0;
  font-weight: 500;

}

h3 {
  @extend %fontsize25;
  margin: 0 0 15px 0;
  font-weight: 500;
  color: $naveblue-color;
  font-family: $font-secondary;

  @include media-breakpoint-min-x-lg {
    margin-bottom: 25px;
  }
}

h4 {
  @extend %fontsize20;
  margin-bottom: 15px;

}

img {
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: $naveblue-color;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  text-underline-offset: 3px;

  &:hover {
    color: $naveblue-color;
    text-decoration: none;

  }
}

p {
  margin: 0 0 15px 0;
}

.container {
  max-width: 1610px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

  @include media-breakpoint-min-x-lg {
    padding: 0 15px;
  }
}



/***Buttons Style****/
.allBtn {
  text-align: center;
  padding: 11px 20px 11px;
  display: inline-block;
  text-decoration: none;
  font-weight: $bold-weight;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  font-family: $font-primary;
  transition: all 0.2s ease 0s;
  min-width: 120px;

  &.dark {
    background-color: $naveblue-color;
    color: $white-color;
    border: solid 1px $naveblue-color;

    &:hover {
      background-color: $white-color;
      color: $naveblue-color;
    }
  }

  @include media-breakpoint-min-lg {
    min-height: 55px;
    min-width: 120px;
    font-size: 13px;
  }

  @include media-breakpoint-sm{
    min-width: 100px;
  }
}

.prize-title{
  font-weight:$medium-weight;
}