/****************************************************************************
  Body
 ***************************************************************************/


body {
  @extend %fontsize16;
  font-family: $font-primary;
  color: $body-color;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $cream-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $green-color
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

html {
  overflow-x: hidden;
}



h1 {
  @extend %fontsize35;
  margin: 0 0 20px 0;
  font-weight: normal;

}

h2 {
  @extend %fontsize30;
  margin: 0 0 20px 0;
  font-weight: 500;
  letter-spacing: 1px;

}

h3 {
  @extend %fontsize25;
  margin: 0 0 15px 0;
  font-weight: 500;
  color: $green-color;
  font-family: $font-secondary;

  @include media-breakpoint-min-x-lg {
    margin-bottom: 25px;
  }
}

h4 {
  @extend %fontsize20;
  margin-bottom: 15px;

}

img {
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: $green-color;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  text-underline-offset: 3px;

  &:hover {
    color: $green-color;
    text-decoration: none;

  }
}

.bootstrap-datetimepicker-widget {

  .btn {
    border-radius: 0 !important;
    border: none !important;
  }

  .up-arrow {
    background: url("../images/arrow-up.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    background-color: transparent;
    border: solid 1px $green-color;
    border-radius: 0;
    width: 30px;
    height: 30px;

    &:hover {
      background: url("../images/arrow-up.png");
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: center;
      background-color: transparent;
    }
  }



  .down-arrow {
    width: 30px;
    height: 30px;
    background: url("../images/arrow-down.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    background-color: transparent;
    border: solid 1px $green-color;
    border-radius: 0;

    &:hover {
      background: url("../images/arrow-down.png");
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: center;
      background-color: transparent;
    }
  }

  button[data-action] {
    border-radius: 0 !important;
    border: solid 1px $green-color !important;
    background: $green-color !important;
    font-weight: 600;

    &:hover {
      background: transparent !important;
      color: $green-color !important;
    }

  }


}



p {
  margin: 0 0 15px 0;
}

.main {
  padding: 40px 0 0;
  position: relative;
  margin-top: 83px;
  margin-bottom: 115px;

  @include media-breakpoint-min-xl {
    margin-top: 96px
  }

  @include media-breakpoint-min-x-xxl {
    margin-top: 103px;
  }
}

.container {
  max-width: 1670px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

  @include media-breakpoint-min-x-lg {
    padding: 0 15px;
  }
}

hr {
  background-color: $grey-color;
  opacity: 0.25;

  @include media-breakpoint-min-x-lg {
    margin: 25px 0;
  }
}

/***Buttons Style****/
.allBtn {
  text-align: center;
  padding: 11px 20px 11px;
  display: inline-block;
  background-color: $white-color;
  text-decoration: none;
  font-weight: $bold-weight;
  text-transform: uppercase;
  font-size: 12px;
  min-height: 50px;
  border-radius: 0;
  cursor: pointer;
  border: solid 1px $green-color;
  font-family: $font-primary;
  transition: all 0.2s ease 0s;
  color: $green-color;
  min-width: 120px;

  &+.allBtn {
    margin-top: 15px;
  }

  &.initApproveBtn {
    background-color: $light-Blue;
    border-color: $light-Blue;

    &:hover {
      background-color: $white-color;
      color: $green-color;
    }
  }

  &.fullApproveBtn {
    background-color: $light-blue2;
    border-color: $light-blue2;

    &:hover {
      background-color: $white-color;
      color: $light-blue2;
    }
  }

  &.incompleteBtn {
    background-color: $red-bg;
    border-color: $red-bg;

    &:hover {
      background-color: $white-color;
      color: $red-bg;
    }
  }

  &.declineBtn {
    background-color: $light-pink;
    border-color: $light-pink;

    &:hover {
      background-color: $white-color;
      color: $light-pink;
    }
  }

  &.inactiveBtn {
    background-color: $grey-color;
    border-color: $grey-color;
    color: $white-color;

    &:hover {
      background-color: $white-color;
      color: $grey-color;
    }
  }

  &.activeBtn {
    background-color: $green-bg;
    border-color: $green-bg;

    &:hover {
      background-color: $white-color;
      color: $green-color;
    }
  }

  @include media-breakpoint-min-lg {
    min-height: 55px;
    min-width: 200px;
    font-size: 13px;
  }

  &:hover {
    background-color: $green-color;
    color: $white-color;
  }

  &.dark {
    background-color: $green-color;
    color: $white-color;
    border: solid 1px $green-color;

    &:hover {
      background-color: $white-color;
      color: $green-color;
    }
  }

  &.redBtn {
    background-color: $red-color;
    border-color: $red-color;
    color: $white-color;

    &:hover {
      background-color: $white-color;
      color: $red-color;
    }
  }

  &.border {
    border: 1px solid;
  }

  &.btnIcon {
    &.userBtn {
      svg {
        width: 14px;
      }
    }

    svg,img {
      margin-right: 8px;
    }

    &:hover {
      svg {
        fill: $green-color;

        g,
        path {
          stroke: $green-color;
        }
      }
    }

    &.backBtn {
      svg {
        width: 10px;
        height: 12px;
        margin-top: -2px;
        margin-right: 5px;
      }
    }
  }
}

.customFormWrap {
  margin-bottom: 15px;

  .form-control {
    border-radius: 6px;
  }

  .form-select {
    border-radius: 6px;
  }
}

.inputGroup {
  position: relative;
  text-align: left;
  margin-bottom: 15px;
}

.form-select {
  border-radius: 0;
  border: solid 1px $green-color !important;
  outline: none !important;
  box-shadow: none !important;
  &.is-invalid {
    border: solid 1px $red-color !important;
  }

  &.large-select {
    padding: 20px;
  }
}

/**** Switch Design*****/
.switchOuter {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.tableSwitch {
  .switch {
    .slider {
      background-color: $red-color;
    }
  }

  input:checked+.slider {
    background-color: $green-color;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px $green-color;
  }

}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $sidebar-bg;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 8px;
      bottom: 4px;
      background-color: $white-color;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }

  input:checked+.slider {
    background-color: $green-color;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px $green-color;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: 12px;
  }

}

.inputGroup {
  input {
    padding: 5px 20px;
    border: 1px solid $black-color !important;
    color: $black-color;
    outline: none;
    @extend %fontsize16;
    width: 100%;
    font-family: inherit;
    border-radius: 0;

    @include media-breakpoint-min-md {
      padding: 6px 20px;
    }
  }

  label {
    margin-bottom: 5px;
    @extend %fontsize16;
  }
}

.inputGroup input:placeholder {
  opacity: 0.5;
}

.sectionHeader {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;

  h1 {
    margin-bottom: 10px;
  }

  p {
    @extend %fontsize18;
  }
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;

  h3 {
    margin-bottom: 10px;
  }

  .pageHeaderLeft {
    ul {
      margin-bottom: 20px;
    }
  }

  .pageHeaderRight {
    &.btnRowGroup {
      .allBtn {
        min-width: 250px;
      }
    }
  }

  .pageHeaderBtns {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    .allBtn {
      &+.allBtn {
        margin-top: 0;
      }
    }
  }
}

/***Table Common CSS******/
.tbleShortBlock {
  display: flex;
  column-gap: 15px;
  align-items: center;

  @include media-breakpoint-min-xl {
    display: none;
  }
}

.defaultTable {
  margin: 30px 0;
  text-align: center;
position: relative;
  &.fixHeightTable {
    height: 280px;
    overflow-y: auto;
  }

  &.tbl-horizontal {
    text-align: left;
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $cream-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $green-color
  }
&.userServiceTable {
  >.table{
    &.table-striped{
     thead{
       tr{
         &.firstHead{
           th{
             padding: 10px 0;
             &:nth-last-of-type(3) {
               background-color: transparent;
             }
             &:nth-last-of-type(1),
             &:nth-last-of-type(2),
             &:nth-last-of-type(4),
             &:nth-last-of-type(3){
               background-color: $green-color;
               color: #fff;
               border-radius: 10px 10px 0 0;
             }
           }
         }
       }
     }
    }
   }
}
&.userHostTable {
  >.table{
   &.table-striped{
    thead{
      tr{
        &.firstHead{
          th{
            padding: 10px 0;
            &:nth-last-of-type(3) {
              background-color: transparent;
            }
            &:nth-last-of-type(1),
            &:nth-last-of-type(2),
            &:nth-last-of-type(4),
            &:nth-last-of-type(5),
            &:nth-last-of-type(6),
            &:nth-last-of-type(7),
            &:nth-last-of-type(8){
              background-color: $green-color;
              color: #fff;
              border-radius: 10px 10px 0 0;
            }
          }
        }
      }
    }
   }
  }
}
  >.table {
    &.table-striped {
      thead {
        tr {
          background-color: $green-color;
          color: $white-color;

          &.firstHead {
            background-color: transparent;

            th {
              padding: 10px 20px 0;

              &:nth-last-of-type(2),
              &:nth-last-of-type(3) {
                background-color: $green-color;
                color: #fff;
                border-radius: 10px 10px 0 0;
              }
            }
          }

          th {
            padding: 15px 10px;
            vertical-align: middle;
            cursor: pointer;
            background-color: transparent;
            color: $white-color;
            position: relative;

            a {
              &.sorting {
                color: $white-color;
                text-decoration: none;
                padding-right: 10px;
                word-break: break-word;
                display: inline-block;
                font-weight: 600;

                &:before,
                &:after {
                  content: "";
                  border: solid $grey-color;
                  width: 0;
                  height: 0;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 2px;
                  position: absolute;
                  right: 0;

                  transition: all 0.3s ease 0s;
                }

                &:before {
                  top: 40%;
                  right: -4px;
                  transform: rotate(-140deg) translateY(-50%);
                }

                &:after {

                  top: 63%;
                  transform: rotate(45deg) translateY(-50%);
                }

                &.sorting_asc {
                  &:before {
                    border-color: $white-color;
                  }
                }

                &.sorting_dsc {
                  &:after {
                    border-color: $white-color;
                  }
                }

                &:last-of-type {
                  &:before {
                    right: 8px;
                  }

                  &:after {
                    right: 12px;
                  }
                }
              }
            }

            @include media-breakpoint-min-x-xxl {
              &:first-of-type {
                padding-left: 20px;
              }

              &:last-of-type {
                padding-right: 25px;

                &:before {
                  right: 8px;
                }

                &:after {
                  right: 13px;
                }

              }

              &.sorting {

                &::before,
                &:after {
                  padding: 3px;
                }

                &:before {
                  right: -5px;
                }
              }
            }
          }

        }
      }

      tbody {
        tr {
          background-color: $cream-color;

          &.scheduleBg,
          &.purple-bg {
            background-color: $purple-bg !important;
          }

          &.paidBg,
          &.green-bg {
            background-color: $green-bg !important;
          }

          &.authBg,
          &.red-bg {
            background-color: $red-bg !important;
          }

          &.blue-bg {
            background-color: $light-Blue !important;
          }

          &:nth-child(even) {
            background-color: #F2F0EE;
          }

          td {
            padding: 15px 10px;
            background-color: transparent;
            box-shadow: none;

            @include media-breakpoint-min-xl {
              &:first-of-type {
                padding-left: 20px;
              }

              &:last-of-type {
                padding-right: 20px;
              }
            }
          }
        }


      }


    }

  }

  &.tbl-sm-vertical {
    >.table {
      @include media-breakpoint-md {
        thead {
          tr {
            display: none;

            &.firstHead {
              display: flex;
              justify-content: flex-end;

              th {
                padding: 10px 20px;
              }

            }
          }
        }

        tbody {
          tr {
            display: flex;
            flex-wrap: wrap;
            column-gap: 15px;
            padding: 10px 0;

            td {
              width: 48%;
              position: relative;
              display: block;
              text-align: right;
              box-shadow: none;
              padding: 7px 15px;

              &:before {
                content: attr(data-title) ": ";
                font-weight: 700;
                float: left;
                margin-right: 10px;
                width: 50%;
                text-align: left;
              }
            }

          }
        }
      }

      @include media-breakpoint-smd {
        tbody {
          tr {
            td {
              width: 100%;
            }
          }
        }
      }
    }
  }
&.enquiriesTbl {
  >.table {
    &.table-striped {
      thead{
        tr{
          th{
            a{
              &.sorting{
                position: relative;
                &:before{
                  right: -11px;
                  margin-top: -4px;
                }
                &:after{
                  right: -7px;
                }
              }
            }
          }
        }
      }
    }
  }
}
  &.userHostTable,
  &.userServiceTable {
    @include media-breakpoint-min-x-xxl {
      >.table {
        thead {
          tr {
            th {
              font-size: 14px;
              a{
                font-size: 14px;
              }
            }
          }
        }
        tbody{
          tr{
            td{
              font-size: 14px;
              a{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  &.tbl-vertical {
    >.table {
      @include media-breakpoint-xl {
        thead {
          tr {
            display: none;

            &.firstHead {
              display: flex;
              justify-content: flex-end;

              th {
                padding: 10px 20px;
              }

            }
          }
        }

        tbody {
          tr {
            display: flex;
            flex-wrap: wrap;
            column-gap: 15px;
            padding: 10px 0;

            td {
              width: 48%;
              position: relative;
              display: block;
              text-align: right;
              box-shadow: none;
              padding: 7px 15px;

              &:before {
                content: attr(data-title) ": ";
                font-weight: 700;
                float: left;
                margin-right: 10px;
                width: 50%;
                text-align: left;
              }
            }

          }
        }
      }

      @include media-breakpoint-smd {
        tbody {
          tr {
            td {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.tabsRight {
  .defaultTable {
    &.tbl-vertical {
      >.table {
        @include media-breakpoint-max-desk {
          thead {
            tr {
              display: none;              
            }
          }

          tbody {
            tr {
              display: flex;
              flex-wrap: wrap;
              column-gap: 15px;
              padding: 10px 0;

              td {
                width: 48%;
                position: relative;
                display: block;
                text-align: right;
                box-shadow: none;
                padding: 7px 15px;

                &:before {
                  content: attr(data-title) ": ";
                  font-weight: 700;
                  float: left;
                  margin-right: 10px;
                  width: 50%;
                  text-align: left;
                }
              }

            }
          }
        }

        @include media-breakpoint-smd {
          tbody {
            tr {
              td {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.slick-arrow {
  position: absolute;
  border: solid 1px $green-color;
  background-color: $white-color;
  font-size: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    border: solid $green-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  &.slick-prev {
    left: 10px;
    padding-left: 9px;

    &:before {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }

  &.slick-next {
    right: 10px;
    padding-right: 9px;

    &:before {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;

  li {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      font-size: 0;
      background-color: $green-color;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 0;
      padding: 0;
    }

    &.slick-active {
      button {
        background-color: $white-color;
      }
    }

    &:last-child {
      button {
        width: 7px;
        height: 7px;
      }
    }
  }
}

//Pagination
.paginationBottom {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {

    a {
      text-decoration: none;
      display: inline-block;
      padding: 10px 12px;
      font-family: $font-primary;

      @include media-breakpoint-min-md {
        padding: 10px 15px;
      }

      &.activePage {
        background-color: $green-color;
        color: $white-color;
        position: relative;
        padding: 5px 17px;

        &:hover {
          text-decoration: none;
        }

        @include media-breakpoint-min-md {
          padding: 10px 20px;
        }

        &::after {
          content: "";
          width: 42%;
          height: 42%;
          position: absolute;
          top: -1px;
          right: -1px;
          background: #ffffff;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 0);
        }
      }
    }

    &.prevIcon,
    &.nextIcon {
      width: 30px;
      display: flex;
      justify-content: center;

      a {
        border: solid $green-color;
        width: 0;
        height: 0;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transition: all 0.3s ease 0s;
      }
    }

    &.prevIcon {
      margin-right: 15px;

      >a {
        transform: rotate(135deg) translateY(-50%);
      }
    }

    &.nextIcon {
      margin-left: 15px;
      position: relative;
      top: 4px;

      >a {

        transform: rotate(-48deg) translateY(-50%);
      }
    }

    &:hover {
      a {
        text-decoration: underline;
      }
    }

  }
}

.tblselectGroup {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;

  .form-select {
    width: auto;

    @include media-breakpoint-min-x-lg {
      min-width: 180px;
    }
  }
}

.borderedBox {
  padding: 12px 20px;
  border: solid 1px $green-color;
  display: block;
  margin-bottom: 20px;
}

.lightBg {
  background-color: $light-Grey !important;
}

.customModal {
  .logoutOuter {
    min-height: 200px;
  }

  .modalTitle {
    margin-bottom: 0;
  }

  .btn-close {
    background: url("../images/close.svg") no-repeat center;
    outline: none;
    background-size: 15px;
    box-shadow: none;
    opacity: 1;

    &:hover {
      opacity: 0.6;
    }
  }

  .modal-body {
    padding: 20px 30px 30px;

    @include media-breakpoint-min-x-lg {
      padding: 20px 50px 30px;
    }

    .hostBlockOuter {
      .hostImg {
        img {
          width: 140px;
          height: 140px;
        }
      }
    }
  }

  .modal-header {
    border-bottom: none;
    padding: 20px 30px 10px 50px;
  }

  .modal-footer {
    border-top: none;
    padding-bottom: 40px;

    .footerBtn {
      flex-wrap: wrap;
      gap: 30px;
    }

    .allBtn {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}


/***Form Design***/
.customBoxCheck {
  .boxCheckLabel {
    position: relative;
    width: 100%;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    padding: 25px 40px 15px;
    border: solid 1px $green-color;
    background-color: $white-color;
    font-weight: $bold-weight;
    color: $green-color;
    text-align: center;

    &:after {
      content: attr(data-title);
      line-height: 16px;
      display: block;
      color: $white-color;
      font-weight: 400;
    }

  }

  input[type="checkbox"] {
    position: absolute;
    top: 4px;
    left: 0;
    margin: 0 5px 0 0;
    border: none;
    visibility: hidden;
    opacity: 0;

    &:checked {
      &+.boxCheckLabel {
        &::after {
          color: $white-color;
        }
      }
    }

  }

  input[type="radio"] {
    position: absolute;
    top: 4px;
    left: 0;
    margin: 0 5px 0 0;
    border: none;
    visibility: hidden;
    opacity: 0;

    &:checked {
      &+.boxCheckLabel {
        background-color: $green-color;
        color: $white-color;

      }
    }
  }
}

.customCheck {
  margin-bottom: 15px;

  .checkLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 0 0 30px;
    cursor: pointer;
    display: inline-block;

    &::after {
      background: url("../images/tick-mark.svg") no-repeat center;
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      display: inline-block;
      box-sizing: border-box;
      width: 24px;
      height: 31px;
      display: none;
    }

    &::before {
      position: absolute;
      top: 4px;
      left: 0;
      display: inline-block;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border-radius: 0;
      content: "";
      border: 1px solid $black-color;
      background-color: #fff;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    top: 4px;
    left: 0;
    margin: 0 5px 0 0;
    border: none;
    visibility: hidden;
    opacity: 0;

    &:checked {
      &+.checkLabel {
        &::after {
          display: block;
        }
      }
    }
  }

  input[type="radio"] {
    position: absolute;
    top: 4px;
    left: 0;
    margin: 0 5px 0 0;
    border: none;
    visibility: hidden;
    opacity: 0;

    &:checked {
      &+.checkLabel {
        &::after {
          display: block;
        }
      }
    }
  }

}

.form-control {
  border-radius: 0;
  border: solid 1px $green-color;
}

.customEditorOuter {
  textarea.form-control {
    min-height: 600px;
    margin-bottom: 30px;
  }
}

textarea.form-control {
  resize: none;
  min-height: 100px;
  padding-top: 14px;
  padding-left: 20px;
  border-radius: 0;
  border: solid 1px $green-color;

  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $cream-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $green-color
  }
}

.formWrap {
  margin-bottom: 15px;
  position: relative;
}

.form-label {
  font-size: 15px;
  background: $white-color;
  position: absolute;
  left: 40px;
  top: -7px;
  line-height: 15px;
  padding: 0 5px;
}


/****Steps Design******/
.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 40px;
  position: relative;

  .singleStep {
    text-decoration: none;
    font-family: $font-secondary;
    position: relative;
    @extend %fontsize18;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.current {
      display: flex;
    }

    .stepCount {
      z-index: 2;
      width: 75px;
      height: 75px;
      border: solid 2px $green-color;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white-color;
      font-family: $font-primary;
      border-radius: 50%;
      margin-bottom: 15px;
      position: relative;
      padding-top: 7px;
      color: $white-color;

      span {
        position: relative;
        z-index: 1;
      }

      &:before {
        content: "";
        width: 40px;
        height: 38px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: $green-color;
        clip-path: polygon(50% 0%, 100% 42%, 100% 100%, 0 100%, 0% 42%);
        margin-top: -1px;
      }
    }

    &.current,
    &.finish {
      .stepCount {
        background-color: $green-color;
        color: $green-color;

        &:before {
          background-color: $white-color;
        }
      }
    }
  }




  @include media-breakpoint-min-md {
    flex-direction: row;

    &:before {
      content: "";
      height: 2px;
      background-color: $grey-color;
      width: calc(100% - 100px);
      position: absolute;
      top: 64px;
      left: 50%;
      transform: translateX(-50%);
    }

    .singleStep {
      display: flex;

      &.finish {
        &:after {
          content: "";
          height: 2px;
          width: 138px;
          background-color: $green-color;
          position: absolute;
          left: 27%;
          top: 34px;
        }

        &:nth-child(2) {
          &:after {
            left: 37%;

          }
        }

        &:nth-child(5) {
          &:after {
            width: 150px;

          }
        }

      }
    }

  }

  @include media-breakpoint-min-lg {
    .singleStep {
      &.finish {
        &:after {
          width: 170px;
        }

        &:nth-child(4) {
          &:after {
            left: 91%;

          }
        }

        &:nth-child(5) {
          &:after {
            width: 200px;
            left: 50%;

          }
        }
      }
    }
  }

  @include media-breakpoint-min-xl {
    .singleStep {
      &.finish {
        &:after {
          width: 210px;
          left: 40%;
        }

        &:nth-child(2) {
          &:after {
            left: 54%;
            width: 200px;
          }
        }

        &:nth-child(5) {
          &:after {
            left: 72%;
            width: 230px;

          }
        }
      }
    }

    &.directorySteps {
      .singleStep {
        &.finish {
          &:nth-child(2) {
            &:after {
              left: 80%;
            }
          }
        }
      }
    }
  }


  @include media-breakpoint-min-desk {
    .singleStep {
      &.finish {
        &:after {
          left: 78%;
        }
      }
    }

  }
}

.cardDigit {
  padding: 10px 40px;
  background-color: $white-color;
  font-weight: $bold-weight;
  color: $green-color;
  text-align: center;
}

.profileUploadBox {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;

  .profilePic {
    width: 180px;
    height: 180px;
    border: solid 1px #ddd;
    border-radius: 50%;

    img {
      border-radius: 50%;

    }
  }

  .profileuplodImg {
    width: 200px;
    text-align: center;
  }
}

.contactLinkBox {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  .contactLinkImg {
    img {
      width: 35px;
      height: 35px;
      object-fit: contain;
    }
  }

  .contactLinkContent {
    width: calc(100% - 35px);
  }

}

.tblSortingMobile {
  display: flex;
  gap: 15px;
  justify-content: end;
  flex-wrap: wrap;

  @include media-breakpoint-min-xl {
    display: none;
  }
}

.directoryListingBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .listingLeft {
    width: 100%;

    @include media-breakpoint-min-lg {
      width: 65%;

      .directoryTable {
        max-width: 100%;
      }
    }
  }

  .listingRight {
    width: 100%;

    @include media-breakpoint-min-lg {
      width: 32%;
    }
  }
}

.deleteListingBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;

  .deleteListingBoxLeft {
    width: 100%;
    margin-bottom: 30px;

    @include media-breakpoint-min-lg {
      width: 45%;
      margin-bottom: 0;
    }
  }

  .deleteListingBoxRight {
    width: 100%;

    @include media-breakpoint-min-lg {
      width: 50%;
    }
  }
}

.allBtn {
  &.refundBtn {
    background-color: $green-bg;
    color: $body-color;
    border-color: $green-bg;

    &:hover {
      background-color: $white-color;
      color: $green-color;
      border-color: $green-color;
    }
  }
  .loaderBtn{
    img{
      filter: invert(1) brightness(2);
      width: 28px;
      height: 28px;
    }
  }
  &.dark {
    .loaderBtn{
      img{
        filter:none !important;
      }
    }
  }
}
.outerLoader{
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modalRefundBoxOuter {
  width: 100%;
  padding: 30px 0 20px;

  h4 {
    text-align: center;
  }

  .modalRefundBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    .refundAmount {
      text-align: center;

      label {
        font-weight: $bold-weight;
      }

      .allBtn {
        min-width: 280px;
      }
    }
  }

  @include media-breakpoint-min-lg {
    max-width: 68%;

    .modalRefundBox {
      .refundAmount {
        margin-right: 25px;
      }
    }
  }
}

.buttonList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;

  .allBtn {
    margin-top: 0 !important;
    min-width: 120px;
  }
}

//DatePicker

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background-color: $green-color;
  border-color: $green-color;
}