//****************************************************************************
//  Bootsrap variables overrides
//***************************************************************************/
    $font-primary: "DM Sans", sans-serif;
    $font-secondary:"Open Sans", sans-serif;
    $font-montserrat:  "Montserrat Alternates", sans-serif;
    $font-lora:  "Lora", serif;
    $body-color:#333333;

//****************************************************************************
//  Custom variables
//***************************************************************************/
$green-color:#20535a;
$cream-color: #e6e2df;
$black-color: #4d4d4f;
$white-color: #ffffff;
$grey-color: #8b9297;
$sidebar-bg: #E1E3E4;
$light-Grey: #F2F0EE;
$red-color: #BE1600;
$red-bg: #f1cdc8;
$purple-bg: #e1d2f1;
$green-bg:  #cbefc2;
$light-Blue: #C3EBFC;
$light-pink: #F8BBF4;
$light-blue2: #4794AC;
$darkgreen-color: #305414;
//****************************************************************************
//  Font Weight
//***************************************************************************/
$regular-weight: 400;
$medium-weight:500;
$semibold-weight:600;
$bold-weight: 700;
$black-weight:900;
$light-weight:300;


