h1 {
  font-size: 30px;
  line-height: 40px;
}

h2 {
  font-size: 28px;
  line-height: 38px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
}

.header-menu > ul > li > a {
  font-size: 16px;
  line-height: 26px;
}

.header-menu > ul > li.has-sub > .submenu > li.has-sub .submenu li a, .header-menu > ul > li.has-sub > .submenu > li > a, body {
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 991px) {
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  h3 {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (min-width: 1400px) {
  .header-menu > ul > li.has-sub > .submenu > li.has-sub .submenu li a, .header-menu > ul > li.has-sub > .submenu > li > a, body {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 1400px) {
  .header-menu > ul > li > a {
    font-size: 18px;
    line-height: 26px;
  }
}
/****************************************************************************
  Body
 ***************************************************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333333;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  background-color: #ecedf0;
  /* width */
  /* Track */
  /* Handle */
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: #e6e2df;
}
body::-webkit-scrollbar-thumb {
  background: #2D3E50;
}
body .lotry-form-main-wrap form .form-title {
  font-size: 18px;
  line-height: 40px;
  margin-top: 0;
  background: #f6f6f6;
  border-radius: 5px 5px 0 0 !important;
  border-bottom: 1px solid #DADADA;
  padding: 12px 18px;
  position: relative;
  margin-bottom: 0;
  font-weight: 600;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

html {
  overflow-x: hidden;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: normal;
}

h2 {
  margin: 0 0 20px 0;
  font-weight: 500;
}

h3 {
  margin: 0 0 15px 0;
  font-weight: 500;
  color: #2D3E50;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 1024px) {
  h3 {
    margin-bottom: 25px;
  }
}

h4 {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #2D3E50;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  text-underline-offset: 3px;
}
a:hover {
  color: #2D3E50;
  text-decoration: none;
}

p {
  margin: 0 0 15px 0;
}

.container {
  max-width: 1610px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
@media (min-width: 1024px) {
  .container {
    padding: 0 15px;
  }
}

/***Buttons Style****/
.allBtn {
  text-align: center;
  padding: 11px 20px 11px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease 0s;
  min-width: 120px;
  border-radius: 5px;
  line-height: 31px;
}
.allBtn.dark {
  background-color: #2D3E50;
  color: #ffffff;
  border: solid 1px #2D3E50;
}
.allBtn.dark:hover {
  background-color: #ffffff;
  color: #2D3E50;
}
@media (min-width: 991px) {
  .allBtn {
    min-height: 55px;
    min-width: 120px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .allBtn {
    min-width: 100px;
  }
}

.prize-title {
  font-weight: 500;
}

.form-select {
  background-image: url(../images/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-position: calc(100% - 15px);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.ui-datepicker-header {
  background-color: #2D3E50;
}
.ui-datepicker-header.ui-widget-header .ui-icon {
  background-image: url(../images/down-white-arrow.svg);
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-position: center;
  transform: rotate(90deg);
}
.ui-datepicker-header.ui-widget-header .ui-datepicker-next .ui-icon {
  background-position: center;
  transform: rotate(-90deg);
}
.ui-datepicker-header.ui-widget-header .ui-corner-all {
  cursor: pointer;
  top: 4px;
}
.ui-datepicker-header.ui-widget-header .ui-corner-all:hover .ui-icon {
  background-image: url(../images/down-black-arrow.svg);
}
.ui-datepicker-header.ui-widget-header .ui-datepicker-title {
  top: 2px;
  position: relative;
}

/*===== Common Radio button css ======*/
[type=radio]:checked,
[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type=radio]:checked + label:before,
[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #4d4d4f;
  border-radius: 100%;
  background: #ffffff;
}

[type=radio]:checked + label:after,
[type=radio]:not(:checked) + label:after {
  content: "";
  width: 9px;
  height: 9px;
  background: #2D3E50;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

[type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type=radio]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/*===== Checkbox css ======*/
.checkbox-button-row .radio-row {
  display: block;
  margin-bottom: 15px;
}
.checkbox-button-row .radio-row input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.checkbox-button-row .radio-row input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 7px;
  width: 4px;
  height: 11px;
  border: solid #4d4d4f;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox-button-row .radio-row label {
  position: relative;
  cursor: pointer;
}
.checkbox-button-row .radio-row label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #4d4d4f;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  margin-top: -4px;
}

.radio-button-row .radio-row.checkbox-primary label::before,
.checkbox-button-row .radio-row.checkbox-primary label::before {
  background: #0088CC;
  border-color: #0088CC;
}
.radio-button-row .radio-row.checkbox-primary input:checked + label:after,
.checkbox-button-row .radio-row.checkbox-primary input:checked + label:after {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
}
.radio-button-row .radio-row.checkbox-success label::before,
.checkbox-button-row .radio-row.checkbox-success label::before {
  background: #20535a;
  border-color: #20535a;
}
.radio-button-row .radio-row.checkbox-success input:checked + label:after,
.checkbox-button-row .radio-row.checkbox-success input:checked + label:after {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
}
.radio-button-row .radio-row.checkbox-warning label::before,
.checkbox-button-row .radio-row.checkbox-warning label::before {
  background: #ed9c28;
  border-color: #ed9c28;
}
.radio-button-row .radio-row.checkbox-warning input:checked + label:after,
.checkbox-button-row .radio-row.checkbox-warning input:checked + label:after {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
}
.radio-button-row .radio-row.checkbox-danger label::before,
.checkbox-button-row .radio-row.checkbox-danger label::before {
  background: #d2322d;
  border-color: #d2322d;
}
.radio-button-row .radio-row.checkbox-danger input:checked + label:after,
.checkbox-button-row .radio-row.checkbox-danger input:checked + label:after {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
}
.radio-button-row .radio-row.checkbox-disabled input[type=checkbox]:disabled + label,
.checkbox-button-row .radio-row.checkbox-disabled input[type=checkbox]:disabled + label {
  cursor: not-allowed !important;
}
.radio-button-row .radio-row.checkbox-disabled input[type=checkbox]:disabled + label::before,
.checkbox-button-row .radio-row.checkbox-disabled input[type=checkbox]:disabled + label::before {
  background-color: #e9ecef;
}
.radio-button-row .radio-row.checkbox-disabled input,
.checkbox-button-row .radio-row.checkbox-disabled input {
  cursor: not-allowed !important;
}
.radio-button-row .radiobox-primary input:checked + label:after,
.checkbox-button-row .radiobox-primary input:checked + label:after {
  background: #0088CC;
}
.radio-button-row .radiobox-success input:checked + label:after,
.checkbox-button-row .radiobox-success input:checked + label:after {
  background: #20535a;
}
.radio-button-row .radiobox-warning input:checked + label:after,
.checkbox-button-row .radiobox-warning input:checked + label:after {
  background: #ed9c28;
}
.radio-button-row .radiobox-danger input:checked + label:after,
.checkbox-button-row .radiobox-danger input:checked + label:after {
  background: #d2322d;
}
.radio-button-row .radiobox-disabled input + label,
.checkbox-button-row .radiobox-disabled input + label {
  cursor: not-allowed !important;
}
.radio-button-row .radiobox-disabled input + label:before,
.checkbox-button-row .radiobox-disabled input + label:before {
  background: #e9ecef;
}
.radio-button-row .radiobox-disabled input,
.checkbox-button-row .radiobox-disabled input {
  cursor: not-allowed !important;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
  border-color: #33bbff !important;
}

.customFormWrap .date-input-group,
.customFormWrap .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.customFormWrap .date-input-group .input-group-text,
.customFormWrap .input-group .input-group-text {
  position: absolute;
  width: 40px;
  height: 37px;
  background: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1px;
  top: 1px;
  border-right: 1px solid #dee2e6;
}
.customFormWrap .date-input-group #datepicker,
.customFormWrap .date-input-group input,
.customFormWrap .input-group #datepicker,
.customFormWrap .input-group input {
  padding-left: 50px;
}
.customFormWrap .date-input-group.input-group-right-icon .input-group-text,
.customFormWrap .input-group.input-group-right-icon .input-group-text {
  right: 0;
  left: auto;
}
.customFormWrap .date-input-group.input-group-right-icon input,
.customFormWrap .input-group.input-group-right-icon input {
  padding-left: 15px;
  padding-right: 50px;
}

/*=================*/
.checkbox-radio-box-inner-section {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  align-items: flex-start;
}
.checkbox-radio-box-inner-section .radio-button-row .radio-row,
.checkbox-radio-box-inner-section .checkbox-button-row .radio-row {
  margin-bottom: 15px;
  height: 26px;
}
@media (max-width: 767px) {
  .checkbox-radio-box-inner-section {
    flex-direction: column;
    padding-left: 25px;
  }
}

/*===================*/
.customFormWrap.has-success label {
  color: #20535a;
}
.customFormWrap.has-success input {
  border: 1px solid #20535a;
}
.customFormWrap.has-warning label {
  color: #ed9c28;
}
.customFormWrap.has-warning input {
  border: 1px solid #ed9c28;
}
.customFormWrap.has-danger label {
  color: #d2322d;
}
.customFormWrap.has-danger input {
  border: 1px solid #d2322d;
}

/*============ */
.content {
  width: 100%;
  margin: 0 auto 50px;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  padding-block: 80px 60px;
  background-color: #fdfdfd;
}

.multisteps-form__panel .form-inner-body .button-row {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.multisteps-form__panel .js-btn-next {
  margin-left: auto;
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 45px;
  color: #333333;
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}
.multisteps-form__progress-btn span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  z-index: 10;
  font-weight: 700;
  font-size: 25px;
  line-height: 0.5;
  pointer-events: none;
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: -25px;
  left: 50%;
  display: block;
  width: 60px;
  height: 60px;
  content: "";
  transform: translateX(-50%);
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
  background: #CCC;
  color: #CCC;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 6.5px);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn.js-active {
  color: #0088CC;
}
.multisteps-form__progress-btn.js-active:after {
  color: #0088CC;
}
.multisteps-form__progress-btn.js-active:before {
  border: 4px solid #0088CC;
  background-color: #0088CC;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
@media (min-width: 320px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

/*============*/
input[readonly],
input[disabled] {
  background-color: #e9ecef;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bdbdbd;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #bdbdbd;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #bdbdbd;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #bdbdbd;
}

/*============*/
/*============ input,select,textarea commen css */
.customFormWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.customFormWrap label.customFormLabel {
  max-width: 300px;
  width: 100%;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
}
.customFormWrap input {
  width: 100%;
  display: block;
  padding: 9px 15px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 40px;
}
.customFormWrap input.input-rounded {
  border-radius: 500px;
}

/*============ */
.multisteps-form__panel[data-animation=fade] {
  animation: fadeInRight 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.multisteps-form__panel[data-animation=fade].js-active {
  animation: fadeInLeft 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/*---- CUSTOM ANIMATION ----*/
.fadeInRight {
  animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fadeInRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fadeInLeft {
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fadeInLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.main-section {
  margin-top: 120px;
}
@media (max-width: 1200px) {
  .main-section {
    margin-top: 45px;
  }
}
.main-section .page-title {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 767px) {
  .main-section .page-title {
    font-size: 22px;
  }
}

.ui-state-default.ui-state-active {
  border: 1px solid #2D3E50 !important;
  background: #2D3E50 !important;
}

/*======= input file css =========== */
/*======= File upload button =======*/
.form-upload {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 1px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 40px;
}
.form-upload label {
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background: #2D3E50;
  color: #ffffff;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-upload label:hover {
  opacity: 0.7;
}
.form-upload label .file-upload {
  position: absolute;
  left: -9999px;
}
.form-upload p {
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 1rem;
}
@media (max-width: 767px) {
  .form-upload p {
    font-size: 10px;
    margin-left: 10px;
    line-height: 1.5;
  }
}

input:-internal-autofill-selected {
  background-color: #ffffff;
}

.main-header {
  background-color: #ffffff;
  padding-bottom: 4px;
  padding: 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 22;
}
.main-header .logo {
  width: 150px;
}
.main-header .logo img {
  width: 100%;
}
@media (min-width: 1200px) {
  .main-header .logo {
    width: 170px;
  }
}
@media (min-width: 1400px) {
  .main-header .logo {
    width: 200px;
  }
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.menuBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.homeIcon img {
  width: 40px;
}

.headerMenuOuter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding-right: 40px;
  position: relative;
  flex-direction: column;
  background-color: #2D3E50;
}
@media (min-width: 1200px) {
  .headerMenuOuter {
    padding-right: 0;
  }
}
@media (max-width: 1200px) {
  .headerMenuOuter {
    padding-right: 0;
  }
}
.headerMenuOuter .header-top-section {
  width: 100%;
  text-align: center;
  padding-block: 20px;
  background-color: #ffffff;
}
.headerMenuOuter .header-top-section img {
  width: 151px;
}
.headerMenuOuter .header-top-section .logo {
  display: inline-block;
}

.menuTigger {
  width: 22px;
  display: block;
  right: 15px;
  top: 20px;
  position: absolute;
  cursor: pointer;
  z-index: 633;
}
.menuTigger .bar {
  display: block;
  height: 2px;
  margin: 0 auto 5px;
  width: 100%;
  background-color: #2D3E50;
  transition: all 0.3s ease 0s;
}
.menuTigger .bar:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .menuTigger {
    display: none;
  }
}

@media (max-width: 1024px) {
  .menu--open .menuTigger {
    position: fixed;
  }
}
.menu--open .menuTigger .bar:first-child {
  transform: translateY(7px) rotate(139deg);
  background-color: #ffffff;
}
.menu--open .menuTigger .bar:last-child {
  transform: translateY(-7px) rotate(-140deg);
  background-color: #ffffff;
}
.menu--open .menuTigger .bar:nth-child(2) {
  transform: scale(0);
  background-color: #ffffff;
}
.menu--open .header-menu {
  right: 0;
  padding: 0;
  padding-top: 61px !important;
}

.header-menu {
  position: fixed;
  top: 0;
  background-color: #2D3E50;
  width: 100%;
  max-width: 320px;
  right: -350px;
  transition: right 1s ease 0s;
  z-index: 11;
  height: auto;
  height: 100%;
  overflow-y: auto;
}
@media (max-width: 1600px) {
  .header-menu {
    padding-inline: 30px;
  }
}
.header-menu > ul > li {
  position: relative;
}
@media (max-width: 1024px) {
  .header-menu > ul > li:first-child a {
    border-top: solid 1px #ffffff;
  }
}
.header-menu > ul > li > a {
  border-bottom: solid 1px #ffffff;
  color: #4d4d4f;
  padding: 17px 10px 17px 25px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.header-menu > ul > li.has-sub > .submenu {
  position: absolute;
  top: 68px;
  padding: 6px 0 15px;
  text-align: center;
  width: 100%;
  background-color: #2D3E50;
  transition: all 0.5s ease 0s;
  display: none;
  z-index: 444;
}
.header-menu > ul > li.has-sub > .submenu > li {
  position: relative;
}
.header-menu > ul > li.has-sub > .submenu > li > a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  display: block;
}
.header-menu > ul > li.has-sub > .submenu > li .arrow {
  top: 3px;
  right: 0;
}
.header-menu > ul > li.has-sub > .submenu > li.has-sub .submenu {
  display: none;
}
.header-menu > ul > li.has-sub > .submenu > li.has-sub .submenu li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}
.header-menu > ul > li.has-sub > .submenu > li.has-sub.active > a {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}
.header-menu > ul > li.has-sub > .submenu > li.has-sub.active .submenu {
  display: block;
}
.header-menu > ul > li.has-sub > .submenu > li.has-sub.active .arrow:after {
  transform: rotate(-140deg) translateY(-50%);
  right: 7px;
}
.header-menu > ul > li.has-sub .arrow {
  top: 11px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 333;
  transition: all 0.2s ease 0s;
}
.header-menu > ul > li.has-sub .arrow:after {
  content: "";
  border: solid #ffffff;
  width: 0;
  height: 0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.3s ease 0s;
}
.header-menu > ul > li.has-sub.active {
  background-color: #2D3E50;
}
.header-menu > ul > li.has-sub.active > a {
  color: #ffffff;
}
.header-menu > ul > li.has-sub.active > .submenu {
  display: block;
}
.header-menu > ul > li.has-sub.active > .arrow:after {
  transform: rotate(-140deg) translateY(-50%);
  border-color: #ffffff;
}
@media (min-width: 1200px) {
  .header-menu {
    display: block;
    justify-content: space-between;
    position: relative;
    right: auto !important;
    max-width: none;
    background-color: transparent;
    max-width: 1640px;
    overflow-y: unset;
  }
  .header-menu > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header-menu > ul > li {
    padding: 21px 30px 21px 0;
  }
  .header-menu > ul > li > a {
    color: #ffffff;
    border: none;
    padding: 0;
  }
  .header-menu > ul > li:hover > a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
  }
  .header-menu > ul > li.has-sub .arrow {
    top: 16px;
    right: 0;
  }
  .header-menu > ul > li.has-sub > .submenu {
    width: 320px;
    padding: 20px 0;
    max-height: 600px;
    /* width */
    /* Track */
    /* Handle */
  }
  .header-menu > ul > li.has-sub > .submenu::-webkit-scrollbar {
    width: 7px;
    height: 0;
  }
  .header-menu > ul > li.has-sub > .submenu::-webkit-scrollbar-track {
    background: #e6e2df;
  }
  .header-menu > ul > li.has-sub > .submenu::-webkit-scrollbar-thumb {
    background: #2D3E50;
  }
  .header-menu > ul > li.has-sub > .submenu > li {
    padding: 9px 20px;
    padding-right: 30px;
    text-align: left;
  }
  .header-menu > ul > li.has-sub > .submenu > li > a {
    padding: 0;
  }
  .header-menu > ul > li.has-sub > .submenu > li.has-sub .arrow {
    top: 6px;
    right: 0;
  }
  .header-menu > ul > li.has-sub > .submenu > li.has-sub .arrow:after {
    transform: rotate(-48deg) translateY(-50%);
  }
  .header-menu > ul > li.has-sub > .submenu > li.has-sub:hover .arrow::after {
    border-color: #ffffff;
    border-color: #2D3E50 !important;
  }
  .header-menu > ul > li.has-sub > .submenu > li.has-sub:hover .submenu {
    display: block;
  }
  .header-menu > ul > li.has-sub > .submenu > li.has-sub .submenu {
    position: absolute;
    width: 250px;
    right: -250px;
    top: 0;
    background: #2D3E50;
    padding: 10px 0;
  }
  .header-menu > ul > li.has-sub > .submenu > li.has-sub .submenu > li {
    padding: 6px 20px;
  }
  .header-menu > ul > li.has-sub > .submenu > li.has-sub .submenu > li:hover {
    background-color: #ffffff;
  }
  .header-menu > ul > li.has-sub > .submenu > li.has-sub .submenu > li:hover > a {
    color: #2D3E50;
  }
  .header-menu > ul > li.has-sub > .submenu > li:hover {
    background-color: #ffffff;
  }
  .header-menu > ul > li.has-sub > .submenu > li:hover > a {
    color: #2D3E50;
  }
  .header-menu > ul > li.has-sub:hover > .submenu {
    display: block;
  }
  .header-menu > ul > li.has-sub:hover > .arrow::after {
    transform: rotate(-140deg) translateY(-50%);
  }
  .header-menu > ul > li:nth-last-of-type(2).has-sub > .submenu {
    left: -80px;
  }
}

.footer {
  position: relative;
}

.footer-top {
  position: relative;
  background-color: #e6e2df;
  padding: 30px 0;
  padding: 50px 0 45px;
  margin: 0;
}
.footer-top::after {
  content: "";
  width: 100%;
  height: 20%;
  position: absolute;
  top: -10%;
  right: 0;
  background: #e6e2df;
  -webkit-clip-path: polygon(100% 53%, 0 100%, 0 0, 0 0, 50% 0);
  clip-path: polygon(100% 53%, 0 100%, 0 0, 0 0, 50% 0);
}
@media (min-width: 991px) {
  .footer-top {
    padding: 50px 0 45px;
  }
  .footer-top:after {
    height: 31%;
    top: -16%;
  }
}

.footerBlockGrid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.footerBlockGrid .footerBlock {
  width: 100%;
  text-align: center;
}
.footerBlockGrid .footerBlock h3 {
  font-family: "Poppins", sans-serif;
  position: relative;
  cursor: pointer;
  color: #2D3E50;
}
.footerBlockGrid .footerBlock h3:after {
  content: "+";
  display: inline-block;
  padding-left: 15px;
  font-size: 25px;
  line-height: 25px;
  top: 2px;
  position: relative;
}
.footerBlockGrid .footerBlock h3.active:after {
  content: "-";
}
@media (min-width: 991px) {
  .footerBlockGrid .footerBlock h3 {
    cursor: auto;
    pointer-events: none;
  }
  .footerBlockGrid .footerBlock h3::after {
    display: none;
  }
}
.footerBlockGrid .footerBlock ul {
  margin-bottom: 20px;
}
.footerBlockGrid .footerBlock ul.footerLinkBlock {
  display: none;
}
@media (min-width: 991px) {
  .footerBlockGrid .footerBlock ul.footerLinkBlock li {
    display: inline-block;
    width: 48%;
  }
}
.footerBlockGrid .footerBlock ul li {
  margin-bottom: 8px;
}
.footerBlockGrid .footerBlock ul li a {
  text-decoration: none;
  color: #2D3E50;
}
.footerBlockGrid .footerBlock ul li a:hover {
  text-decoration: underline;
}
.footerBlockGrid .footerBlock .footerSocial.desktop {
  display: none;
}
@media (min-width: 991px) {
  .footerBlockGrid .footerBlock .footerSocial.desktop {
    display: block;
  }
}
.footerBlockGrid .footerBlock .footerSocial.mobile {
  display: block;
}
@media (min-width: 991px) {
  .footerBlockGrid .footerBlock .footerSocial.mobile {
    display: none;
  }
}
@media (min-width: 991px) {
  .footerBlockGrid .footerBlock {
    width: 33.33%;
    text-align: left;
  }
  .footerBlockGrid .footerBlock ul.footerLinkBlock {
    display: block;
  }
}
.footerBlockGrid .footerBlock .footerSocial ul {
  display: flex;
  gap: 18px;
  justify-content: center;
}
.footerBlockGrid .footerBlock .footerSocial ul li {
  width: auto;
}
@media (min-width: 991px) {
  .footerBlockGrid .footerBlock .footerSocial ul {
    justify-content: flex-start;
  }
}

.footerLogo {
  margin-bottom: 35px;
}
@media (min-width: 991px) {
  .footerLogo {
    margin-bottom: 0;
  }
}
.footerLogo .logo img {
  max-width: 260px;
  width: 100%;
}
@media (max-width: 767px) {
  .footerLogo .logo img {
    max-width: 200px;
  }
}

.footerBottom {
  position: relative;
  padding: 30px 0 10px;
  background-color: #ffffff;
}

.copyInfoGrid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 991px) {
  .copyInfoGrid {
    text-align: left;
  }
}
.copyInfoGrid .copyInfo {
  width: 100%;
}
.copyInfoGrid .copyInfo p {
  letter-spacing: 1;
  font-size: 14px;
}
.copyInfoGrid .copyInfo .cardBlocks {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}
@media (min-width: 991px) {
  .copyInfoGrid .copyInfo {
    width: 33.33%;
  }
  .copyInfoGrid .copyInfo .cardBlocks {
    justify-content: flex-start;
    margin-bottom: 0;
  }
  .copyInfoGrid .copyInfo p {
    text-align: right;
  }
}

.lotry-form-main-wrap {
  margin-block: 50px 100px;
  padding: 0;
  border-radius: 5px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .lotry-form-main-wrap {
    margin-block: 30px 80px;
  }
}
.lotry-form-main-wrap select, .lotry-form-main-wrap input, .lotry-form-main-wrap textarea {
  width: 100%;
  display: block;
  padding: 9px 15px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 40px;
}
.lotry-form-main-wrap select {
  cursor: pointer;
}
.lotry-form-main-wrap textarea {
  resize: none;
  min-height: 100px;
  overflow-y: auto;
}
.lotry-form-main-wrap .customFormWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .lotry-form-main-wrap .customFormWrap {
    flex-direction: column;
  }
}
.lotry-form-main-wrap .customFormWrap label.customFormLabel {
  max-width: 300px;
  width: 100%;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 767px) {
  .lotry-form-main-wrap .customFormWrap label.customFormLabel {
    padding-bottom: 6px;
    max-width: 100%;
  }
}
.lotry-form-main-wrap .customFormWrap .radio-button-row .radio-row {
  display: flex;
  align-items: baseline;
  gap: 10px;
  cursor: pointer;
}
.lotry-form-main-wrap .customFormWrap .radio-button-row .radio-row input {
  width: auto;
}
.lotry-form-main-wrap .customFormWrap .radio-button-row .radio-row label {
  cursor: pointer;
  font-size: 14px;
}
.lotry-form-main-wrap .customFormWrap .radio-button-row .radio-sub-row {
  margin-left: 60px;
  margin-top: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .lotry-form-main-wrap .customFormWrap .radio-button-row .radio-sub-row {
    margin-left: 35px;
  }
}
.lotry-form-main-wrap .customFormWrap .radio-button-row.col-gap {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.lotry-form-main-wrap .button-group-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.lotry-form-main-wrap h2 {
  margin-block: 10px 10px;
  font-size: 16px;
  text-transform: capitalize;
}
.lotry-form-main-wrap .form-title {
  font-size: 22px;
  line-height: 40px;
  margin-top: 0;
  background: #f6f6f6;
  border-radius: 5px 5px 0 0 !important;
  border-bottom: 1px solid #DADADA;
  padding: 12px 18px;
  position: relative;
  margin-bottom: 0;
}
.lotry-form-main-wrap .form-inner-body {
  padding: 30px 25px;
  background: #fdfdfd;
  border-radius: 0 0 5px 5px;
}

.lotry-step-2-form-box .input-range-box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.lotry-step-2-form-box .input-range-box .from-range-box,
.lotry-step-2-form-box .input-range-box .entries-box {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.lotry-step-2-form-box .input-range-box .entries-box span {
  white-space: nowrap;
}
@media (max-width: 767px) {
  .lotry-step-2-form-box .input-range-box.entries-box-row {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .lotry-step-2-form-box .input-range-box.entries-box-row .entries-box {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .lotry-step-2-form-box .input-range-box.entries-box-row .entries-box:last-child {
    flex-direction: row-reverse;
  }
}
.lotry-step-2-form-box .customFormWrap.example-row {
  justify-content: start;
  flex-direction: row;
  padding-block: 20px;
}
@media (max-width: 767px) {
  .lotry-step-2-form-box .customFormWrap.example-row {
    padding-block: 20px 5px;
  }
}
.lotry-step-2-form-box .customFormWrap.example-row div {
  white-space: nowrap;
}
.lotry-step-2-form-box .form-title {
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 30px;
}
.lotry-step-2-form-box h3 {
  font-size: 16px;
}

.lotry-step-3-form-box .multipal-input-title {
  justify-content: space-around !important;
}
@media (max-width: 767px) {
  .lotry-step-3-form-box .multipal-input-title {
    display: none !important;
  }
}
.lotry-step-3-form-box .customFormWrap {
  width: 100%;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.lotry-step-3-form-box .customFormWrap label.customFormLabel {
  width: 35% !important;
}
@media (max-width: 767px) {
  .lotry-step-3-form-box .customFormWrap label.customFormLabel {
    width: 100% !important;
  }
}
.lotry-step-3-form-box .customFormWrap .multipal-title-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lotry-step-3-form-box .radio-button-row {
  width: 100%;
}
.lotry-step-3-form-box h2 {
  font-size: 16px;
  line-height: 40px;
  margin-block: 0 25px;
  font-weight: 500;
}
.lotry-step-3-form-box .fix-prizes-box .customFormWrap {
  gap: 15px;
}
.lotry-step-3-form-box .fix-prizes-box .row {
  width: 100%;
}
.lotry-step-3-form-box .fix-prizes-box .row span {
  display: none;
}
@media (max-width: 767px) {
  .lotry-step-3-form-box .fix-prizes-box .row span {
    display: block;
    padding-bottom: 6px;
  }
}
.lotry-step-3-form-box .prizes-box .customFormWrap.example-row {
  justify-content: flex-start;
}
.lotry-step-3-form-box .prizes-box .customFormWrap.example-row div {
  width: 100%;
}
@media (max-width: 767px) {
  .lotry-step-3-form-box .prizes-box .customFormWrap.example-row div {
    width: auto;
  }
}
@media (max-width: 767px) {
  .lotry-step-3-form-box .prizes-box .customFormWrap.example-row {
    flex-direction: row;
  }
  .lotry-step-3-form-box .prizes-box .customFormWrap.example-row label {
    padding-bottom: 0 !important;
  }
  .lotry-step-3-form-box .prizes-box .customFormWrap.example-row .mobile-hide {
    display: none;
  }
}
.lotry-step-3-form-box .prizes-box .customFormWrap.example-row.top-space {
  margin-top: -15px;
}
@media (max-width: 767px) {
  .lotry-step-3-form-box .radio-row {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .lotry-step-3-form-box .radio-row input[type=radio] {
    margin-left: 0px;
  }
}
.lotry-step-3-form-box .mb-25 {
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .lotry-step-3-form-box .mb-25 {
    margin-bottom: 5px;
  }
}

.lotry-step-4-form-box .win-setting-box .win-setting-radio-btn {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lotry-step-4-form-box .win-setting-box h2 {
  margin-top: 15px;
}
@media (max-width: 767px) {
  .lotry-step-4-form-box .fix-prizes-box .customFormWrap .row:last-child {
    display: flex;
    justify-content: space-between;
  }
}
.lotry-step-4-form-box .fix-prizes-box .customFormWrap .row:last-child .radio-row {
  justify-content: center;
}
.lotry-step-4-form-box .fix-prizes-box .customFormWrap .row input[type=checkbox] {
  cursor: pointer;
  margin: 0;
}
.lotry-step-4-form-box .flex-column {
  flex-direction: column;
}
.lotry-step-4-form-box .rollover-bt-space {
  margin-bottom: 15px;
  margin-left: 15px;
}
@media (max-width: 767px) {
  .lotry-step-4-form-box .example-row .prize-title {
    width: 100%;
  }
}
.lotry-step-4-form-box .checkbox-button-row label {
  margin-left: -15px;
}

.body-sign {
  display: table;
  height: 100vh;
  margin: 0 auto;
  max-width: 500px;
  padding: 0 15px;
  width: 100%;
}
.body-sign .center-sign {
  display: table-cell;
  padding-top: 20px;
  vertical-align: middle;
}
.body-sign .card-sign {
  background: transparent;
}
.body-sign .card-sign .card-title-sign .title {
  background-color: #2D3E50;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 13px 17px;
  vertical-align: bottom;
}
.body-sign .card-sign .card-body {
  background: #ffffff;
  border-top: 5px solid #2D3E50;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 33px 33px 15px;
}
.body-sign .checkbox-custom {
  margin-top: 8px;
}
.body-sign .line-thru {
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  position: relative;
}
.body-sign .line-thru span {
  color: #CCC;
  position: relative;
  z-index: 3;
}
.body-sign .line-thru:before {
  background-color: #ffffff;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  margin: -5px 0 0 -20px;
  top: 50%;
  width: 40px;
  z-index: 2;
}
.body-sign .line-thru:after {
  border-bottom: 1px solid #DADADA;
  content: "";
  display: block;
  left: 10%;
  position: absolute;
  top: 47%;
  width: 81%;
  z-index: 1;
}
.body-sign .card-sign .card-title-sign .title {
  background-color: #2D3E50;
}
.body-sign .card-sign .card-body {
  border-top-color: #2D3E50;
}
.body-sign .mb-3 {
  margin-bottom: 1rem !important;
}
.body-sign .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.body-sign .input-group input {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  padding: 6.5px 15px;
  border-radius: 6px;
  border: 1px solid #2D3E50;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.body-sign .logo {
  float: left !important;
  bottom: 13px;
  position: relative;
}
.body-sign .text-end {
  text-align: right !important;
}
.body-sign .card-title-sign .title {
  text-transform: uppercase;
  margin: 0;
}
.body-sign .float-end {
  float: right !important;
  text-decoration: none;
}
.body-sign .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.body-sign .row .allBtn {
  padding: 0;
  min-width: 73px;
  min-height: 38px;
  border-radius: 5px;
}
.body-sign .row.combo-coloum {
  margin: 0;
  gap: 15px;
}
@media (max-width: 767px) {
  .body-sign .row.combo-coloum {
    gap: 0;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .body-sign .row.combo-coloum div {
    width: 100%;
  }
}
.body-sign .text-center {
  text-align: center;
}
.body-sign .checkbox-custom label {
  cursor: pointer;
}

.body-sign .recover-password form .form-group input {
  padding: 15px 15px;
  border-radius: 6px;
  border: 1px solid #2D3E50;
  font-size: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.body-sign .recover-password .allBtn.dark {
  color: #ffffff;
  position: relative;
  z-index: 2;
  font-size: 16px;
  padding: 0.5rem 1rem;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  min-height: 55px;
  min-width: 82px;
  text-transform: none;
}
.body-sign .recover-password .allBtn.dark:hover {
  background-color: #ffffff;
  color: #2D3E50;
  border: 1px solid #2D3E50;
}
.body-sign .recover-password .mt-3 {
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */